header {
  width: 100%;
  height: 200px;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

header li {
  font-size: var(--font-size-sm);
  text-transform: uppercase;
}

header li .link {
  color: var(--color-text);
  font-weight: var(--font-weight-medium);
  transition: var(--transition-05s);
}

header li .link.active {
  color: var(--primary-color);
}

header li .link:hover {
  color: var(--primary-color);
}

header .portfolio-version {
  transform: rotate(90deg);
  position: absolute;
  top: 45%;
  right: 1rem;
}

header .portfolio-version > * {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  color: var(--secondary-color);
  text-transform: uppercase;
}
