.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: var(--bg-color);
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(
      45deg,
      transparent 49%,
      var(--gray-color) 49%,
      var(--gray-color) 51%,
      transparent 51%
    ),
    linear-gradient(
      -45deg,
      transparent 49%,
      var(--gray-color) 49%,
      var(--gray-color) 51%,
      transparent 51%
    );
  background-size: 40px 40px;
  -webkit-mask-image: radial-gradient(
    ellipse 60% 60% at 50% 50%,
    #000 30%,
    transparent 70%
  );
  mask-image: radial-gradient(
    ellipse 60% 60% at 50% 50%,
    #000 30%,
    transparent 70%
  );
  z-index: 0;
  pointer-events: none;
}

.hero .child-container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero .hero-content {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.hero-content .hero-greeting {
  font-size: var(--font-size-2xl);
  font-weight: var(--font-weight-medium);
  color: var(--secondary-color);
}

.hero-content .hero-title {
  font-size: clamp(var(--font-size-3xl), 5vw, var(--font-size-4xl));
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: var(--secondary-color);
}

.content-highlight {
  color: var(--primary-color);
  font-weight: var(--font-weight-medium);
}

.hero-content .available {
  width: 200px;
  min-width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  background-color: var(--bg-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--gray-color);
  margin-top: 1.5rem;
}

.hero-content .available .available-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #16d46f;
}

.hero-content .available p {
  flex: 1;
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
  text-align: center;
}

.hero .tech-stack {
  width: 80%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.hero .tech-stack span {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-sm);
  color: var(--text-color);
  white-space: nowrap;
}

.tech-stack .skills-container {
  width: 100%;
}

@media (max-width: 769px) {
  .hero .hero-content {
    width: 100%;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1025px) {
  .hero .hero-content {
    width: 60%;
    max-width: 980px;
  }
}
