.project-card {
  width: 100%;
  max-height: 60vh;
  height: 60vh;
  padding: 2rem 0 2rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f3f3;
  overflow: hidden;
  position: relative;
}

.project-card .card-content {
  width: 30%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
}

.project-card .card-header {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-card .card-header .card-title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-base);
  text-align: start;
  color: var(--secondary-color);
}

.project-card .card-header .card-logo {
  width: 1.5rem;
  line-height: 0;
}

.project-card .card-header .card-logo img {
  width: 100%;
}

.project-card .card-body {
  width: 100%;
}

.project-card .card-body p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  text-align: start;
  color: var(--text-color);
}

.card-body .card-tags {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin-top: 0.625rem;
}

.card-body .card-tags .tag {
  width: fit-content;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  text-align: start;
  color: var(--text-color);
}

.project-card button {
  display: inline-block;
  margin-top: 1rem;
}

.project-card .card-image {
  width: 60%;
  position: absolute;
  bottom: 0;
  right: -5%;
  transform: translateY(15%);
}

.project-card .card-image.mobile {
  width: 30%;
  bottom: 0;
  right: -3%;
  transform: translateY(15%);
}

.project-card .card-image.desktop {
  width: 60%;
}

.project-card .card-image img {
  width: 100%;
  height: 100%;
}

.project-card .card-image .tooltip {
  position: absolute;
  width: fit-content;
  padding: 0.25rem 1rem;
  background-color: var(--bg-color);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  text-align: center;
  color: var(--text-color);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.2s ease,
    visibility 0.2s ease;
  z-index: 1000;
  white-space: nowrap;
}

.project-card .card-image .tooltip.visible {
  opacity: 1;
  visibility: visible;
}
