.project-card {
  width: 100%;
  padding: 2rem 0 2rem 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f3f3f3;
  overflow: hidden;
}

.project-card .card-content {
  width: 35%;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  gap: 1rem;
}

.project-card .card-header {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.project-card .card-header .card-title {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-base);
  text-align: start;
  color: var(--secondary-color);
}

.project-card .card-header .card-logo {
  width: 1.5rem;
}

.project-card .card-header .card-logo img {
  width: 100%;
}

.project-card .card-body {
  width: 100%;
}

.project-card .card-body p {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  text-align: start;
  color: var(--text-color);
}

.card-body .card-tags {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  margin-top: 0.625rem;
}

.card-body .card-tags .tag {
  width: fit-content;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-normal);
  line-height: var(--line-height-base);
  text-align: start;
  color: var(--text-color);
}

.project-card button {
  display: inline-block;
  margin-top: 1rem;
}

.project-card .card-image {
  width: 90%;
  height: 100%;
}

.project-card .card-image img {
  width: 100%;
  height: 100%;
}
